.container-fluid {
    display: flex;
    justify-content: center;
    justify-items: center;
}
.navbar {
    background: transparent;
}
.navbar-text {
    color: #000;
    font-weight: bolder;
    font-size: large;
}
.example-card {
    max-width: 400px;
  }
  
  .header-image {
    background-image: url('https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png');
    background-size: cover;
  }
#view-repo {
    float: right;
}
