.container-fluid {
    display: flex;
    justify-content: center;
    justify-items: center;
}
.navbar {
    background: transparent;
}
.navbar-text {
    color: #000;
    font-weight: bolder;
    font-size: large;
}
